<article>
  <section class="heading">
    <h1 class="poppins-extralight font-settings-h1">{{ title }}</h1>
    <h2 class="poppins-semibold font-settings-h2">{{ poweredBy }}</h2>
    <p class="poppins-regular font-settings-main">{{ intro }}</p>
  </section>
  <section class="models">
    @for (model of models; track $index) {
    <section class="model">
      <h3 class="poppins-semibold font-settings-h3">{{ model.title }}</h3>
      <p class="poppins-regular font-settings-sub">{{ model.intro }}</p>
      <img src="{{ model.url }}" alt="{{model.title}}">
    </section>
    }
  </section>
</article>